/* src/index.css */
@import "tailwindcss";

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        overflow-y: hidden;
        scrollbar-width: none;
    }
}
